.messages-container{
	width: 480px;
	height: 300px;
	background-color: antiquewhite;
	overflow:auto;
}

.messages-container p{
	padding: 12px;
}

.message{
	width: 450px;
    padding: 12px;
}

.send-message {
	display: block;
    background-color: antiquewhite;
    text-align: center;
    width: 480px;
}
